body {
    font-size: 24px;
    font-weight: 400;
    line-height: calc(43px/24px);
    color: $text;
    background-color: $bg;
    font-family: $font-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading;
    font-weight: 400;
    margin: 0 0 10px;
    font-family: $font-1;
}

h1 {
    @include font-120;
}

h2 {
    @include font-55;
}

h3 {
    @include font-32;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

input,
textarea,
button {
    padding: 10px 25px;
    border: 1px solid $border;
    outline: none;
    @include transition;
    &:focus {
        outline: none;
        border-color: $primary;
    }
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.common {
    &-svg {
        display: inline-block;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
    }
    &-row {
        --bs-gutter-x: 32px;
        margin-bottom: calc(var(--bs-gutter-x) * -1);
        @include mmd {
            --bs-gutter-x: 24px;
        }
        &>div {
            margin-bottom: var(--bs-gutter-x);
        }
    }
    &-padding {
        --padding-y: 120px;
        --padding-x: 0;
        padding: var(--padding-y) var(--padding-x);
        @include xl {
            --padding-y: 100px;
        }
        @include lg {
            --padding-y: 60px;
        }
        @include md {
            --padding-y: 50px;
        }
        @include sm {
            --padding-y: 40px;
        }
        &-top {
            padding-top: var(--padding-y);
        }
    }
    &-title {
        margin-bottom: 60px;
        @media (min-width: 1440px) {
            padding: 0 4%;
        }
        @include md {
            margin-bottom: 40px;
        }
        @include sm {
            margin-bottom: 30px;
        }
        & h2 {
            @include font-68;
        }
        & p {
            @include font-20;
        }
    }
}

.boxed-btn {
    padding: 20px 40px;
    border-radius: 12px;
    border: 1px solid #000;
    background: #24EFF8;
    box-shadow: 0px 6px 0px 0px #000;
    color: #000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    font-family: $font-1;
    @include font-36;
    font-weight: 400;
    line-height: 120%;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    gap: 8px;
    svg {
        max-width: 30px;
        @include ssm {
            max-width: 20px;
            font-size: 16px;
        }
    }
    @include xl {
        padding: 16px 30px;
    }
    @include lg {
        padding: 16px 30px;
    }
    @include mmd {
        padding: 16px 30px;
    }
    @include sm {
        padding: 12px 22px;
        border-radius: 6px;
    }
    &:hover {
        background-color: $primary !important;
        border-color: $primary !important;
        color: $white !important;
    }
    &.bg-primary {
        border-color: $primary !important;
        color: $secondary !important;
        &:hover {
            background-color: transparent !important;
            color: $primary !important;
        }
    }
    &.bg-transparent {
        border-color: $primary !important;
        color: $primary !important;
        &:hover {
            background-color: $primary !important;
            color: $black !important;
        }
    }
}

.boxed-btn.blue {
    background: #30C6FF;
}

// social 
.social {
    &-link {
        --width: 48px;
        width: var(--width);
        height: var(--width);
        background-color: $primary;
        color: $heading;
        box-shadow: 2px 2px 0 $black;
        @include font-24;
        &:hover {
            box-shadow: 0 0 0;
        }
        @include sm {
            --width: 38px;
            & svg {
                width: 18px;
                height: 18px;
            }
        }
    }
}

#root {
    overflow: hidden;
}

@media (min-width:1650px) {
    .container {
        max-width: 1584px
    }
}

.marquee {
    transform: rotate(-0.8deg) translateY(-24px) !important;
}