@import url('https://fonts.cdnfonts.com/css/milky-nice');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
$font-1: 'Milky Nice', sans-serif;
$font-2: "RocknRoll One", sans-serif;
$white:#fff;
$black:#000;
$primary: #24EFF8;
$secondary: #132E4B;
$text:#000;
$heading: #000;
$border:#000;
$bg:#99E3FF;
:root {
    scroll-behavior: auto !important;
}